:root{
  --fontFamily: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  --accentFontFamily: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}
html,
body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  position: relative;
  /* color: #868686; */
  /* background-color: #ffffff; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  letter-spacing: 0.5px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}


span.divider{
  background: #000;
  display: block;
  height: 3px !important;
  width: 60px !important;
  margin: 0 auto;
}

/* @media only screen and (min-width: 767px) {
  .container {
    padding-left: 25px;
    padding-right: 25px;
  }
} */

@media (min-width: 1200px) {
  .container {
     max-width: 1140px;
   }
}

#wrapper {
  background: #fff;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  
}

#mainNav {
  /* background-color: RGBA(255, 255, 255, 0.3); */
  /* position: -webkit-sticky;
  position: sticky;
  top: 0px; */
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1033;
  clear: both;
}

#mainNav.navbar {
  padding-top: 0.2rem !important;
  padding-bottom: 0.2rem !important;
}

#mainNav.navbar .navbar-brand img {
  max-height: 43px;
  transition-duration: 0.5s;
}

#mainNav.navbar .navbar-toggler{
  border: 0;
}
#mainNav.navbar .navbar-toggler:focus{
  outline: none;
  box-shadow: none;
}

#mainNav.navbar .navbar-nav .nav-link{
  font-size: 0.95rem;
  letter-spacing: 0.041em;
  font-weight: 400;
  color: #60fca1;
  font-family: var(--accentFontFamily);
}

/* #mainNav.navbar .navbar-nav .nav-link.default{
  color: rgb(0, 0, 0);
}
#mainNav.navbar .navbar-nav .nav-link.home{
  color:#fff;
} */

#mainNav.scrolled {
  background-color: rgb(77, 77, 77);
  box-shadow: 1px 5px 5px 1px rgba(209, 208, 208, 0.164);
  -webkit-box-shadow: 1px 5px 5px 1px rgba(209, 208, 208, 0.164);
  -moz-box-shadow: 1px 5px 5px 1px rgba(209, 208, 208, 0.164);
  transition: background-color 0.2s ease;
}

/* #mainNav.scrolled.navbar .navbar-nav .nav-link{
  color: #00382B;
} */

#mainNav.scrolled.navbar .navbar-nav .nav-link.active,
#mainNav.scrolled.navbar .navbar-nav .nav-link:hover,
#mainNav.navbar .navbar-nav .nav-link.active,
#mainNav.navbar .navbar-nav .nav-link:hover {
  color: #ffffff;
}

/*
#mainNav.scrolled.navbar .navbar-nav .nav-link.active:after,
#mainNav.navbar .navbar-nav .nav-link.active:after {
  content: "";
  background: #da1d25;
  height: 6px;
  width: 6px;
  display: inline-block;
  border-radius: 3px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5px;
  margin: auto;
  border: inherit;
}
*/

@media (max-width: 991.98px) {

  #mainNav.navbar .navbar-collapse {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 8px 12px 12px 12px;
  }

  #mainNav.navbar .navbar-collapse .navbar-nav{
    background-color: #fff;
    border-radius: 5px;
  }

  #mainNav.navbar .navbar-nav .nav-link{
    color: #000;
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
  #mainNav.scrolled.navbar .navbar-nav .nav-link.active,
  #mainNav.scrolled.navbar .navbar-nav .nav-link:hover,
  #mainNav.navbar .navbar-nav .nav-link.active,
  #mainNav.navbar .navbar-nav .nav-link:hover {
    color: #60fca1;
  }
}

header {
  position: relative;
  padding-top: 58px;
  /*
  background: rgb(12,162,128);
  background: -moz-linear-gradient(204deg, rgba(12,162,128,1) 0%, rgba(78,218,179,1) 73%);
  background: -webkit-linear-gradient(204deg, rgba(12,162,128,1) 0%, rgba(78,218,179,1) 73%);
  background: linear-gradient(204deg, rgba(12,162,128,1) 0%, rgba(78,218,179,1) 73%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0ca280",endColorstr="#4edab3",GradientType=1);
  */
}

header.bgMain{
  background: #4BDCA3 url("../public/img/bg-web.jpg") center center no-repeat;
}

header .headcontentWrapper {
  padding: 70px 0 90px;
}

header h1{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center!important;
}

header p{
  font-size: 1.10rem;
  line-height: normal;
  color: #fff;
  text-align: center!important;
}

@media (max-width: 991.98px) {
  header .headcontentWrapper {
    padding: 10px 0 20px;
  }
}

.bg-primary-gradient {
  background: linear-gradient(180deg, #23ce6b 50%, #1ca254 100%) repeat-x !important;
}

footer {
  position: relative;
  width: 100%;
  min-height: 100px;

}

.carousel-indicators{
  bottom: -60px;
}
.carousel-inner {
  min-height: 210px;
  padding: 10px;
}
.carousel-indicators [data-bs-target] {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
  background-color: #1ca254;
}