header.bghome{
  background: url("../public/img/bgheader.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.bghome .headcontentWrapper h1{
  font-family: 'Teko', sans-serif;
  font-weight: 600;
  font-size: 2.7rem;
  color: #fff;
  line-height: 1.2;
  letter-spacing: normal;
}

@media (max-width: 991.98px) {
  header.bghome h1{
    font-size: 1.4rem;
    margin-bottom: 20px;
  }
}